<div class="flex flex-col">
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 flex-col">
      <div class="flex-1 flex-col py-2 pr-5 relative">
        <label for="country" class="block text-sm font-medium text-gray-700"
          >Country</label
        >
        <div class="mt-1 relative rounded-md shadow-sm">
          <div
            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
          >
            <span class="text-gray-500 sm:text-sm">
              <mat-icon
                class="fuse-horizontal-navigation-item-icon"
                [svgIcon]="'ods:globe'"
              >
              </mat-icon>
            </span>
          </div>
          <input
            type="text"
            name="country"
            id="country"
            class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
            placeholder="Philippines"
            [disabled]="!isEdit"
          />
        </div>
      </div>

      <div class="flex-1 flex-col py-2 pr-5 relative">
        <label for="region" class="block text-sm font-medium text-gray-700"
          >Region</label
        >
        <div class="mt-1 relative rounded-md shadow-sm">
          <div
            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
          >
            <span class="text-gray-500 sm:text-sm">
              <mat-icon
                class="fuse-horizontal-navigation-item-icon"
                [svgIcon]="'ods:location'"
              >
              </mat-icon>
            </span>
          </div>
          <input
            type="text"
            name="region"
            id="region"
            class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
            placeholder="NCR"
            [disabled]="!isEdit"
          />
        </div>
      </div>
    </div>
    <div class="flex-1 flex-col">
      <div class="flex-1 flex-col py-2 pr-5 relative">
        <label for="zipcode" class="block text-sm font-medium text-gray-700"
          >Zip Code</label
        >
        <div class="mt-1 relative rounded-md shadow-sm">
          <div
            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
          >
            <span class="text-gray-500 sm:text-sm">
              <mat-icon
                class="fuse-horizontal-navigation-item-icon"
                [svgIcon]="'ods:location'"
              >
              </mat-icon>
            </span>
          </div>
          <input
            type="text"
            name="zipcode"
            id="zipcode"
            class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
            placeholder="1772"
            [disabled]="!isEdit"
          />
        </div>
      </div>
      <div class="flex-1 flex-col py-2 pr-5 relative">
        <label for="mapAddress" class="block text-sm font-medium text-gray-700"
          >Map Address</label
        >
        <div class="mt-1 relative rounded-md shadow-sm">
          <div
            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
          >
            <span class="text-gray-500 sm:text-sm">
              <mat-icon
                class="fuse-horizontal-navigation-item-icon"
                [svgIcon]="'ods:map'"
              >
              </mat-icon>
            </span>
          </div>
          <input
            type="text"
            name="mapAddress"
            id="mapAddress"
            class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
            placeholder="123 Brgy. Seccoro Cubao Quezon City Metro Manila Philippines"
            [disabled]="!isEdit"
          />
        </div>
      </div>
    </div>
    <div class="flex-1 w-full flex-col py-2">
      <div class="font-medium">Additional Address Information</div>
      <textarea rows="4" cols="50" [disabled]="!isEdit"></textarea>
    </div>
  </div>
  <div class="flex flex-row">
    <div class="flex-1 flex-col py-2 pr-5 relative">
      <label for="state" class="block text-sm font-medium text-gray-700"
        >State / Province</label
      >
      <div class="mt-1 relative rounded-md shadow-sm">
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
        >
          <span class="text-gray-500 sm:text-sm">
            <mat-icon
              class="fuse-horizontal-navigation-item-icon"
              [svgIcon]="'ods:location'"
            >
            </mat-icon>
          </span>
        </div>
        <input
          type="text"
          name="state"
          id="state"
          class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
          placeholder="Metro Manila"
          [disabled]="!isEdit"
        />
      </div>
    </div>
  </div>
  <div class="flex flex-row">
    <div class="flex-1 flex-col py-2 pr-5 relative">
      <label for="city" class="block text-sm font-medium text-gray-700"
        >City</label
      >
      <div class="mt-1 relative rounded-md shadow-sm">
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
        >
          <span class="text-gray-500 sm:text-sm">
            <mat-icon
              class="fuse-horizontal-navigation-item-icon"
              [svgIcon]="'ods:location'"
            >
            </mat-icon>
          </span>
        </div>
        <input
          type="text"
          name="city"
          id="city"
          class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
          placeholder="Quezon City"
          [disabled]="!isEdit"
        />
      </div>
    </div>
  </div>
  <div class="flex flex-row w-full">
    <div class="flex-1 flex-col py-2 pr-5 relative">
      <label for="barangay" class="block text-sm font-medium text-gray-700"
        >Barangay</label
      >
      <div class="mt-1 relative rounded-md shadow-sm">
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none w-1/2"
        >
          <span class="text-gray-500 sm:text-sm">
            <mat-icon
              class="fuse-horizontal-navigation-item-icon"
              [svgIcon]="'ods:location'"
            >
            </mat-icon>
          </span>
        </div>
        <input
          type="text"
          name="barangay"
          id="barangay"
          class="focus:ring-green-primary focus:border-green-primary p-2 block w-full pl-14 pr-12 sm:text-sm border-gray-300 rounded-md"
          placeholder="Seccoro"
          [disabled]="!isEdit"
        />
      </div>
    </div>
    <div class="flex flex-row gap-4 py-2 justify-end items-end">
      <ng-container *ngIf="!isEdit; else activeEdit">
        <button
          class="py-2 px-8 bg-green-secondary text-white rounded-lg flex gap-1 items-center justify-center"
          (click)="edit()"
        >
          Edit
        </button>
      </ng-container>
      <ng-template #activeEdit>
        <button
          class="py-2 px-8 bg-gray-500 text-white rounded-lg flex gap-1 items-center justify-center"
          (click)="edit()"
        >
          Cancel
        </button>
        <button
          class="py-2 px-8 bg-green-secondary text-white rounded-lg flex gap-1 items-center justify-center"
          (click)="edit()"
        >
          Save
        </button>
      </ng-template>
    </div>
  </div>
</div>
